{{ define "main" }}
<div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">

  <div class="flex flex-col gap-4">
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-20 justify-center">
      <div class="flex-shrink-0">
        <img src="/images/me.png" alt="Jasani Smallwood" class="mx-auto w-full lg:h-full object-cover shadow-lg" />
      </div>

      <div class="text-xl leading-relaxed">
        <p>
          Nice to meet you! I am a new designer that has recently found her passion in design. During my time at
          University, I was involved in multiple projects where I would be asked to overlook the UX/UI design. Being
          put in this position meant that I would have to create multiple wireframes, prototypes, and conduct UX
          user interviews for research. Due to this, I am proficient in platforms such as Figma, InDesign, and
          PowerPoint. A little unknown fact about me is that I was the first early college student at Cumberland
          Polytechnic to graduate with an associates in Information Technology.
        </p>
        <br />
        <p>
          Since I am curious by nature, I am always excited to learn new tools or information that will lead me to
          become a better designer. In my free time, I enjoy reading, creating magazines, and scrap booking.
          Currently I am reading The Hobbit, Sense and Sensibility, Dont Make Me Think, and The Design Of Everyday
          Things. I am also a content creator on Instagram (@jas_small) and used to be a social media ambassador for
          both Amazon Student Prime and Samsung. I love nature connecting with nature and often find myself studying
          the trees or the birds around me. Thanks for taking the time to stop by!
        </p>
        <br>
        <p><strong>Email:</strong> jasanismallwood123@gmail.com</p>
      </div>
    </div>
  </div>


  <div class="mx-auto px-4 py-16 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold text-center  mb-10">Featured Projects</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

      <!-- Card 1 -->
      <div class="card-body">
        <img src="/images/CookBook.png" alt="CookBook"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">CookBook</h3>
          <p class="text-sm text-gray-300 mt-2">A recipe site designed for clarity and usability.</p>
          <div class="mt-4 flex gap-3">
            <a href="/cookbook" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card-body">
        <img src="/images/YouTube Recreation.png" alt="YouTube Recreation"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">YouTube Recreation</h3>
          <p class="text-sm text-gray-300 mt-2">A recreation of a youtube homepage from scratch.</p>
          <div class="mt-4 flex gap-3">
            <a href="/youtube" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card-body">
        <img src="/images/Libby Redesign.png" alt="Libby Redesign"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">Libby Redesign</h3>
          <p class="text-sm text-gray-300 mt-2">A modern spin on the Libby app.</p>
          <div class="mt-4 flex gap-3">
            <a href="/libby" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="card-body">
        <img src="/images/Green Lifestyle.png" alt="Green Lifestyle"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">CSC 442 -Green Lifestyle</h3>
          <p class="text-sm text-gray-300 mt-2">An app that encourages the user to live a greener life.</p>
          <div class="mt-4 flex gap-3">
            <a href="/lifestyle" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="card-body">
        <img src="/images/Event Center.png" alt="Event Center"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">CSC 340 - Event Center</h3>
          <p class="text-sm text-gray-300 mt-2">An app designed around local events.</p>
          <div class="mt-4 flex gap-3">
            <a href="/eventcenter" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="card-body">
        <img src="/images/Ideal Bet.png" alt="Ideal Bet"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">Senior Capstone - Ideal Bet</h3>
          <p class="text-sm text-gray-300 mt-2">A site that compares betting data and analyzes to provide accurate
            predictions for sports betting.</p>
          <div class="mt-4 flex gap-3">
            <a href="/idealbet" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>




{{ end }}