{{ define "main" }}
<div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">

  <div class="flex flex-col gap-4">
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-20 justify-center">
      <div class="flex-shrink-0">
        <img src="/images/me.png" alt="Jasani Smallwood" class="mx-auto w-full lg:h-full object-cover shadow-lg" />
      </div>

      <div class="text-lg leading-relaxed">
        <p>
          I’m a UX & digital designer passionate about turning complex ideas into clear, user-first solutions.
           During my time at the University of North Carolina at Greensboro, I led multiple projects creating wireframes, 
           building prototypes, and conducting UX research. I’m proficient in tools such as Figma, InDesign, and Canva. 
           Fun fact: I was the first early college student at Cumberland Polytechnic to graduate with an Associate Degree in 
           Information Technology.
        </p>
        <br />
        <p>
          Naturally curious, I explore new tools and techniques to grow as a designer. In my free time, I enjoy reading, 
          scrapbooking, and creating magazines. I’m also a content creator on Instagram (@jas_small) and previously served 
          as a social media ambassador for Amazon Student Prime and Samsung. I love connecting with nature, often observing trees 
          and birds for inspiration. Thanks for stopping by.

        </p>
        <br>
        <p><strong>Email:</strong> jasanismallwood123@gmail.com</p>
        <p><strong>Instagram:</strong> @jas_small</p>
      </div>
    </div>
  </div>


  <div class="mx-auto px-4 py-16 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold text-center  mb-10">Featured Projects</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

            <!-- Card 1 -->
      <div class="card-body">
        <img src="/images/Rotary.png" alt="Rotary"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">Rotary 7690 Website Redesign </h3>
          <p class="text-sm text-gray-300 mt-2">A complete redesign of Rotary 7690’s website focused on usability, readability, and modern digital appeal, all completed in one week. </p>
          <div class="mt-4 flex gap-3">
            <a href="/rotary" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card-body">
        <img src="/images/CruxDb.png" alt="CruxDB"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">CruxDB Website Redesign</h3>
          <p class="text-sm text-gray-300 mt-2">A one page redesign that brought CruxDB’s outdated site into the modern era with improved readability, layout, and visual appeal, completed in 7 hours.</p>
          <div class="mt-4 flex gap-3">
            <a href="/cruxdb" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 3-->
      <div class="card-body">
        <img src="/images/new oor.jpeg" alt="Office of Research Website Migration"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">Office of Research Website Migration</h3>
          <p class="text-sm text-gray-300 mt-2">A modern and accessible redesign uniting the Office of Research with the School of Health and Human Sciences website.</p>
          <div class="mt-4 flex gap-3">
            <a href="/oor" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="card-body">
        <img src="/images/jpsw.png" alt="joint program of social work"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">Joint Programs in Social Work Website Redesign</h3>
          <p class="text-sm text-gray-300 mt-2">A cross university redesign blending UNCG and NC A&T design systems into one cohesive, accessible experience.</p>
          <div class="mt-4 flex gap-3">
            <a href="/jpsw" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="card-body">
        <img src="/images/Ideal Bet.png" alt="Ideal Bet"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">Senior Capstone — IdealBet</h3>
          <p class="text-sm text-gray-300 mt-2">A sports analytics platform combining real time odds, predictive algorithms, and clean UX to make data approachable for all users.</p>
          <div class="mt-4 flex gap-3">
            <a href="/idealbet" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="card-body">
        <img src="/images/YouTube Recreation.png" alt="YouTube Recreation"
          class="w-full h-48 object-cover rounded-md group-hover:opacity-90 transition" />
        <div class="mt-4">
          <h3 class="text-xl font-semibold ">YouTube Recreation Challenge</h3>
          <p class="text-sm text-gray-300 mt-2">A one page design challenge to recreate YouTube’s homepage from scratch, testing precision, hierarchy, and visual structure.</p>
          <div class="mt-4 flex gap-3">
            <a href="/youtube" class="text-sm text-purple-300 underline hover:text-purple-100">Read More</a>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>





{{ end }}